*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.container{
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	/*border: 10px solid black;*/

}
.Enter{
	align-items: center;
	justify-content: center;
	text-align: center;
	/*border: 5px solid black;*/
}
.Enter > *{
	margin: 5px;
	border-radius: 5px;
	padding: 5px 15px;
}
.Enter > h1{
	text-shadow: inset 0 4px 3px black;
}

.door{
	/*border: 2px solid black;*/
	display: flex;
}
.door > img{
	height: 500px;
	width: 500px;
}
.door > .hole > a > img{
	height: 380px;
	width: 300px;
	border-radius: 50%;
	filter: blur(4px);
}
.hole{
	position: relative;
/*	border: 3px solid black;*/
	border-radius: 50%;
	height: 380px;
	width: 300px;
	top: 50px;
	right: 410px;
	visibility: hidden;
}
.door > img:hover + .hole, .hole:hover{
	visibility: visible;
}

/*media queries*/
@media only screen and (max-width: 600px)
{
	.container{
		height: 100vh;
		width: 100%;
/*		align-items: center;*/
		justify-content: center;
		border: 10px solid pink;
		align-items: flex-start;

	}
	.Enter{
		position: absolute;
		text-align: center;
		border: 5px solid yellow;
		z-index: 2;
		
	}
	.Enter > *{
		margin: 0px;
		border-radius: 5px;
/*		padding: 0px 0px;*/
	}
	.Enter > h1{
		text-shadow: inset 0 4px 3px blue;
	}

	.door{
		height: 100%;
		border: 2px solid red;
		display: flex;
		position: relative;
	}
	.door > img{
		height: 100%;
		width: 100%;
	}
	.door > .hole > a > img{
		height: 500px;
		width: 220px;
		border-radius: 50%;
		filter: blur(4px);
	}
	.hole{
		position: relative;
/*		border: 3px solid green;*/
		border-radius: 50%;
		height: 500px;
		width: 220px;
		top: 55px;
		right: 290px;
		visibility: hidden;
	}
	.door > img:hover + .hole, .hole:hover{
		visibility: visible;
	}

}

@media only screen and (min-width:767px) and (max-width: 780px)

{

	.container{
		flex-direction: column;
		height: 100vh;
		width: 100%;
		align-items: center;
		justify-content: center;
		border: 10px solid pink;

	}
	.Enter{
		position: relative;
		text-align: center;
		border: 5px solid yellow;
		z-index: 2;
		
	}
	.Enter > *{
		margin: 0px;
		border-radius: 5px;
		padding: 0px 0px;
	}
	.Enter > h1{
		text-shadow: inset 0 4px 3px blue;
	}

	.door{
		height: 80%;
		border: 2px solid red;

	}
	.door > img{
		height: 100%;
		width: 100%;
		border: 2px solid violet;
		position: relative;
		left: 120px;
	}
	.door > .hole > a > img{
		height: 650px;
		width: 300px;
		border-radius: 50%;
		position: relative;
		filter: blur(4px);
	}
	.hole{
		position: relative;
		border: 3px solid green;
		border-radius: 50%;
		height: 650px;
		width: 300px;
		top: 55px;
		right: 285px;
		visibility: hidden;
	}
	.door > img:hover + .hole, .hole:hover{
		visibility: visible;
	}
	
}	